.my-blue-area {
    background-color: RGBA(0.10, 0.47, 0.73, 0.80);
    height: 400px;
    width: 400px;
}
header {
}

header1 {

}

.nav {

}

.box {
  height: 200px;
  width: 200px;
  padding: 10px;
  border:
}
.viewimg  {
  border
  height
  width
  float
  text-align: center;
  box-string: border box
}

.wavelogoimg = {
  border
  height
  width
  float
  text-align: 197, 115
  box-string: border box

}

.kayakimg = {
  border
  height
  width
  float: left;
  text-align
  box-string: border box

}

float container with

div {
  width
  float
  overflow
  position: fixed, relative, absolute, static by default
}

float and position, 2 different properties, value assigned, work in concert with each other,
