.my-blue-area {
    background-color: RGBA(0.10, 0.47, 0.73, 0.80);
    height: 400px;
    width: 400px;
}

.my-wave-logo {
  height: 50px;
  width: 50px;

}

.sp-blog-corner {
  border:
  height:
  width:
  float: left;
  text-align
  box-string: border box
  font-style:
  font-family:
  font-weight:
  padding:
}

.about-search {
  border:
  height:
  width:
  float: left;
  text-align:
  box-string: border box
  font-style:
  font-family:
  font-weight:
  padding:
}

.main-headline {
border:
height:
width:
float: left;
text-align:
box-string: border box
font-style:
font-family:
font-weight:
padding:

}

.sub-line {
  order:
  height:
  width:
  float: left;
  text-align:
  box-string: border box
  font-style:
  font-family:
  font-weight:
  padding:

}

.container {
  order:
  height:
  width:
  float: left;
  text-align:
  box-string: border box
  font-style:
  font-family:
  font-weight:
  padding:

}

.fan-headline {
  order:
  height:
  width:
  float: left;
  text-align:
  box-string: border box
  font-style:
  font-family:
  font-weight:
  padding:

}

.dolphin {
height: 50px;
width: 50px;

}

.lorem-ipsum1 {
  order:
  height:
  width:
  float: left;
  text-align:
  box-string: border box
  font-style:
  font-family:
  font-weight:
  padding:

}

.pull-quote {
  order:
  height:
  width:
  float: left;
  text-align:
  box-string: border box
  font-style:
  font-family:
  font-weight:
  padding:

}

.lorem-ipsum2 {
  order:
  height:
  width:
  float: left;
  text-align:
  box-string: border box
  font-style:
  font-family:
  font-weight:
  padding:

}


.dolphin {
height: 50px;
width: 50px;

}

.container2 {
  order:
  height:
  width:
  float: left;
  text-align:
  box-string: border box
  font-style:
  font-family:
  font-weight:
  padding:

}

.kayak = {
  border
  height
  width
  float: left;
  text-align
  box-string: border box

}
header {
}

header1 {

}

.nav {

}

.box {
  height: 200px;
  width: 200px;
  padding: 10px;
  border:
}
.viewimg  {
  border
  height
  width
  float
  text-align: center;
  box-string: border box
}

.wavelogoimg = {
  border
  height
  width
  float
  text-align: 197, 115
  box-string: border box

}


float container with

div {
  width
  float
  overflow
  position: fixed, relative, absolute, static by default
}

float and position, 2 different properties, value assigned, work in concert with each other,
